# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular build output
dist/
out-tsc/

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env
.env.local

# Cache
.angular/
.cache/

# OS
.DS_Store
Thumbs.db
